<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新竹市剩餘停車位資訊(動態更新)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <a href="/">回首頁</a><br><br>
    <form action="" method="post">
        <label for="sort">選擇排序方式(由高到低):</label>
        <select name="sort" id="sort">
            <option value="carspace">汽車剩餘車位</option>
            <option value="motspace">機車剩餘車位</option>
        </select>
        <button type="submit">更新</button>
    </form><br><br>
    <span id="clock"></span>
    <div style="max-width: 80%; margin: 0 auto; text-align: center;">

        <script></script>
        <h1>每分鐘更新一次</h1>
        <table class="table is-bordered">
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>{{column}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for eachdata in all_values%}
                <tr>
                    {% for data in eachdata %}
                    <td>
                        {{data}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="../static/main.js"></script>
</body>

</html>